    
    
  

    <h1 style =" color:rgb(255, 30, 0); font-style: italic;"mat-dialog-title>
    {{title}}
    </h1>
    
    <div mat-dialog-content>
    <p style="font-style: italic;">{{message}}</p>
    </div>
    
    <div mat-dialog-actions>
      <button style="background-color: rgb(108, 226, 157); font-style: italic; "mat-button (click)="onDelete()">Annuler</button>
      <button style="background-color: rgb(196, 70, 70); font-style: italic;" mat-raised-button (click)="onCommand()">Supprimer</button>
    </div>

    
    
   