.card {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 10px;
}

.validerEmail {
    display: flex;
    flex-direction: column; /* Ceci inverse l'ordre des éléments enfants */
    align-items: center; /* Centre les éléments horizontalement */
}


