body{
  margin-left: 40px;
  margin-right: 40px;
  width: 100%; /* Correction ici */
}

h3{
  font-style: italic;
  margin-bottom: 50px;
}

.login-section {
  margin: 20px 80px;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-section .card {
  border: none;
}

.login-section h3 {
  color: #333;
  margin-top: 20px;
}

.form-outline input, .form-outline label {
  border-radius: 5px;
}
