<!-- Section: Design Block -->
<section style ="margin: 20px 80px 80px 80px;" class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="card ">
    <div class="row ">
      <div class="col">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <span class="h2 fw-bold mb-0">Connexion</span>
        </div>
    
          <form [formGroup]="fg" (ngSubmit)="submit()">
            <!-- Email input -->
            <!-- Email input -->
            <div class="container">

              <div class="form-outline mb-4 col-md-6 text-center"> <!-- ajoutez text-center pour centrer le bouton horizontalement -->
            
         
         
             </div>  
              <div class="row justify-content-center"> <!-- justify-content-center est utilisé pour centrer les colonnes à l'intérieur de cette rangée -->
            
                <!-- Email input -->
                <div class="form-outline mb-4 col-md-8">
                  <img class="rounded-image" src="assets/images/OurLifeLogo.png" alt="Mot de passe oublié">
              </div>
              
            
              </div>

              <div class="row justify-content-center"> <!-- justify-content-center est utilisé pour centrer les colonnes à l'intérieur de cette rangée -->
            
                <!-- Email input -->
                <div class="form-outline mb-4 col-md-8">
                  <label class="form-label" for="emailInput">Email:</label>
                  <input type="email" id="emailInput" class="form-control" formControlName="email" placeholder="Entrez votre email"/>
                </div>
            
              </div>
            
              <div class="row justify-content-center"> 
            
                <!-- Password input -->
                <div class="form-outline mb-4 col-md-8">
                  <label class="form-label" for="form2Example2">Mot de passe :</label>
                  <input type="password" id="form2Example2" class="form-control" formControlName="password" placeholder="Entrez votre mot de passe"/>
                </div>
            
              </div>

              <div class="row justify-content-center"> 
            
                <!-- Password input -->
                <div class="form-outline mb-4 col-md-6">
                   <a routerLink="/forgetPassword" class="d-block text-center">Mot de passe oublié...?</a> 
                </div>
            
              </div>
              <div class="row justify-content-center align-items-center" > <!-- ajoutez align-items-center et définissez une hauteur -->
    
                <!-- Password input -->
                <div class="form-outline mb-4 col-md-6 text-center"> <!-- ajoutez text-center pour centrer le bouton horizontalement -->
            
                   <button class="btn btn-dark btn-lg btn-block" [disabled]="!fg.valid">Se connecter</button>
            
                </div>          
            </div>
   
            </div>
      

          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Autres éléments de votre template -->

<div  *ngIf="isLoading" class="text-center my-3">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>


<!-- Autres éléments de votre template -->



<!-- Section: Design Block -->
