<h2>Conditions générales</h2>

<p>Les présentes conditions générales ("Conditions") régissent votre utilisation du site [Nom de votre site] ("Service"), opéré par [Votre Nom ou celui de votre Entreprise].</p>

<h3>1. Acceptation des Conditions</h3>
<p>En accédant et en utilisant le Service, vous acceptez de respecter ces Conditions. Si vous n'êtes pas d'accord avec une partie des conditions, vous n'avez pas la permission d'utiliser le Service.</p>

<h3>2. Contenu</h3>
<p>Le contenu affiché sur le Service est sa propriété exclusive et ne peut être utilisé, copié, reproduit ou distribué sans le consentement écrit de [Votre Nom ou celui de votre Entreprise].</p>

<h3>3. Changements aux Conditions</h3>
<p>Nous nous réservons le droit de modifier ou de remplacer ces Conditions à tout moment. Si un changement est important, nous ferons des efforts raisonnables pour fournir un préavis d'au moins 30 jours avant l'entrée en vigueur des nouvelles conditions.</p>

<h3>4. Contactez-nous</h3>
<p>Si vous avez des questions concernant ces Conditions, veuillez nous contacter à [votre email].</p>


