
<body *ngIf="isLogged">
    <h5 style="padding-left: 20px; padding-right: 20px; font-size: 15px;"> {{session.decodedToken.branch}} </h5>
    <div class="scroll-container">
            <ul *ngFor="let user of users;">
                <li style="list-style-type:none; display: flex; justify-content: space-between;">
                    <div class="scroll-page">
                        <img [src]="user.imageProfil | toImage" alt="">{{user.firstname}}
                    </div>
                    <div *ngIf="session.decodedToken.role[0] === 'ROLE_ADMIN' && session.decodedToken.email !== user.email"  (click)="confirmDialogUser(user.email)"class="supprimer">
                        <i class="fa fa-trash "></i>
                    </div> 
                    <div *ngIf="session.decodedToken.role[0] === 'ROLE_USER' && session.decodedToken.email == user.email" (click)="confirmDialogUser2(user.email)" class="supprimer">
                        <i class="fa fa-trash "></i>
                    </div> 

                </li>
            </ul>
        
    </div>
</body>
