<!-- Section: Design Block -->

<section *ngIf="!messageReponse && !isLoading" class="p-5">
  <div class="card mx-auto" style="max-width: 800px;">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <span class="h4 fw-bold mb-0">Mot de passe oublié</span>
      </div>
          <h4 class="text-uppercase text-center mb-4"></h4>

          <!-- Image ajoutée ici -->
          <div class="text-center mb-4">
              <img src="assets/images/password.png" alt="Mot de passe oublié" class="img-fluid">
          </div>

          <form [formGroup]="fg" (ngSubmit)="sendResetLink()">
              <!-- Email input -->
              <div class="mb-4">
                  <label class="form-label font-weight-bold" for="resetEmailInput">Indiquez votre adresse email :</label>
                  <input type="email" id="resetEmailInput" class="form-control" placeholder="Entrez votre adresse email ..."  formControlName="email"/>
                  <div class="text-danger mt-2" *ngIf="fg.get('email')?.errors?.['required'] && fg.get('email')?.dirty">Ce champ est requis</div>
              </div>

              <!-- Submit button -->
              <div class="text-center mb-4">
                  <button class="btn btn-success" [disabled]="!fg.valid">Réinitialiser</button>
              </div>

              <p class="text-center">Un email vous sera envoyé avec un lien vous permettant de choisir un nouveau mot de passe</p>
          </form>
      </div>
  </div>
</section>


  <div *ngIf="isLoading" class="text-center my-3 ">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>





<div *ngIf="messageReponse"  class="card" style="width: 25rem;">
  <img class="card-img-top" src="assets/images/send_mail.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{messageReponse}}</p>
  </div>
</div>