

<div class="container">
    <header>
        <h1>{{"Bienvenue" | translate}}</h1>
        <img src="assets/images/OurLifeLogo.png" alt="Logo Our Life">
    </header>

    <section class="introduction">
        <p>{{"Introduction" | translate}}</p>
    </section>

    <section class="about">
        <h2>{{"Ourlife" | translate}}</h2>
        <p>{{"OurlifeP1" | translate}}</p>
        <p>{{"OurlifeP2" | translate}}</p>
    </section>

    <footer>
        <p>{{"Droit" | translate}}</p>
    </footer>
</div>